
*{
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	color: black;
}

body{
	background-color: #fff;
}

div.ex1 {
  width: 500px;
  margin: auto;
  border: 3px solid #73AD21;
}

div.ex2 {
  max-width: 700px;
  margin: auto;

}


h4{
font-size:18px;
color: lightblue;
}

h1{

color: orange;
}

p.captext {

color: orange;
font-weight: bold;
}

h3{
	font-family: "Gill Sans Extrabold";
font-size: 42px;
font-weight: bold;

}
